
<%- include ("../partials/_dashHeads") %>


<div class="main-wrapper">
		
			<!-- Header -->
			<%- include ("../partials/newHeader") %>
			<!-- /Header -->
			
			<!-- Sidebar -->
		<%- include ("../partials/_sideBar") %>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
			<div class="page-wrapper">
				<div class="content container-fluid">
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title"><%= pageName %></h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a>
									</li>
									<li class="breadcrumb-item active"><%= pageName %></li>
								</ul>
							</div>
							<div class="col-auto">
								<a href="/admin/hotels/new" class="btn btn-primary mr-1">
									<i class="fas fa-plus"></i>
								</a>
								<a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
									<i class="fas fa-filter"></i>
								</a>
							</div>
						</div>
					</div>


					<!-- Search Filter -->
				<% if (successMsg) { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> <%= successMsg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>

<% if (errorMsg) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> <%= errorMsg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>

					<!-- /Search Filter -->
					
					<div class="row">
						<div class="col-sm-12">
							<div class="card card-table"> 
								<div class="card-body">
									
									<div class="table-responsive">
										<table class="table table-stripped table-hover datatable">
											<thead class="thead-light">
												<tr>
													<th>#</th>
                                                    <th>Name</th>
                                                    <th>Ratings</th>
                                                    <th>Ready Rooms</th>
                                                    <th>Occuppied</th>
                                                    <th>Website</th>
                                                    
													<th class="text-right">Action</th>

												</tr>
											</thead>
											<tbody>
                                                <% hotels.forEach(function(hotel, index) { %>

												<tr>
												<td><%= index + 1 %></td>
												
												<td><strong>
													<a href="/admin/roomtypes/<%= hotel._id%>"><%= hotel.name %></a>
													</strong>
												</td>
													
												<td>
													<span class="text-warning">
														
														<% let highestRating = 0; %>
														<% hotel.reviews.forEach(function(review) { %>
														<% if (review.rating > highestRating) { %>
															<% highestRating = review.rating; %>
														<% } %>
														<% }) %>														
														<% for (let i = 0; i < 5; i++) { %>
														<% if (i < highestRating) { %>
															<i class="fa fa-star"></i>
														<% } else { %>
															<i class="far fa-star"></i>
														<% } %>
														<% } %>
													</span>
													</td>

                                                        <td><span class="badge bg-success-light"><%= hotelRoomsCounts.find(hrc => hrc.hotelName === hotel.name).availableRoomsCount %></td></span>
                                                        <td><span class="badge bg-danger-light"> <%= hotelRoomsCounts.find(hrc => hrc.hotelName === hotel.name).unavailableRoomsCount %></td></span>
                                                        <td><span class="badge bg-success-light"><%= hotel.website %></span></td>
													<td class="text-right">
														<div class="dropdown dropdown-action">
															<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
															<div class="dropdown-menu dropdown-menu-right">
																<a class="dropdown-item" href="/admin/del/hotels/:id/<%= hotel._id %>/edit"><i class="far fa-edit mr-2"></i>Edit</a>
																<a class="dropdown-item" href="/admin/hotels/del/<%= hotel._id %>"><i class="far fa-trash-alt mr-2"></i>Delete</a>
																<a class="dropdown-item" href="/admin/hotels/<%= hotel._id %>/rooms"><i class="far fa-eye mr-2"></i>View</a>
															</div>
														</div>
													</td>
												</tr>												
											
                                               <% }); %>              
                                            </tbody>
										</table>
									</div>
							   
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Page Wrapper -->
			
		</div>

		
         <%- include ("../partials/_dashFooter") %>