
<%- include ../partials/_dashHeads %>

<div class="main-wrapper">
		
			<!-- Header -->
			<%- include ../partials/_dashHeader %>
			<!-- /Header -->
			
			<!-- Sidebar -->
		<%- include ../partials/_sideBar %>
			<!-- /Sidebar -->
			
			<!-- Page Wrapper -->
			<div class="page-wrapper">
				<div class="content container-fluid">
					<div class="page-header">
						<div class="row align-items-center">
							<div class="col">
								<h3 class="page-title"><%= pageName %></h3>
								<ul class="breadcrumb">
									<li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a>
									</li>
									<li class="breadcrumb-item active"><%= pageName %></li>
								</ul>
							</div>
							<div class="col-auto">
								<a href="/admin/hotels/create" class="btn btn-primary mr-1">
									<i class="fas fa-plus"></i>
								</a>
								<a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
									<i class="fas fa-filter"></i>
								</a>
							</div>
						</div>
					</div>
					<% if (typeof messages !== 'undefined' && messages.length > 0) { %>
  <% messages.forEach(function(message){ %>
    <div class="alert alert-<%= message.type %> alert-dismissible fade show" role="alert">
    <strong>Message!</strong> <%= message.text %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
    </button>
</div>
    <div class="alert alert-<%= message.type %>">
      <%= message.text %>
    </div>
  <% }) %>
<% } %>
					<!-- Search Filter -->
					
					<!-- /Search Filter -->
					
					<div class="row">
						<div class="col-sm-12">
							<div class="card card-table"> 
								<div class="card-body">
									
									<div class="table-responsive">
										<table class="table table-stripped table-hover datatable">
											<thead class="thead-light">
												<tr>
													<th>#</th>
                                                    <th>Name</th>
                                                    <th>City</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    <th>Website</th>
                                                    
													<th class="text-right">Action</th>

												</tr>
											</thead>
											<tbody>
                                                <% hotels.forEach(function(hotel, index) { %>

												<tr>
													<td><%= index + 1 %></td>
													<td>
													<a href=""><%= hotel.name %></a>
													</td>
													
                                                        <td><%= hotel.city %></td>
                                                        <td><%= hotel.email %></td>
                                                        <td><%= hotel.phone %></td>                                                     
                                                        <td><span class="badge bg-success-light"><%= hotel.website %></span></td>
													<td class="text-right">
														<div class="dropdown dropdown-action">
															<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-h"></i></a>
															<div class="dropdown-menu dropdown-menu-right">
																<a class="dropdown-item" href="/admin/hotels/<%= hotel._id %>/edit"><i class="far fa-edit mr-2"></i>Edit</a>
																<a class="dropdown-item" href="/admin/hotel/delete/<%= hotel._id %>"><i class="far fa-trash-alt mr-2"></i>Delete</a>
																<a class="dropdown-item" href="view-estimate.html"><i class="far fa-eye mr-2"></i>View</a>
															</div>
														</div>
													</td>
												</tr>												
											
                                               <% }); %>              
                                            </tbody>
										</table>
									</div>
							   
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Page Wrapper -->
			
		</div>

         <%- include ../partials/_dashFooter %>