
<%- include ("../partials/_dashHeads") %>

<style>
  .box-container {
  display: flex;
  gap: 10px; /* Adjust the gap as needed */
}

.box {
  display: flex;
  align-items: center;
  background-color: #f0f0f0; /* Adjust the background color as needed */
  padding: 10px;
}

.box i {
  margin-right: 10px; /* Adjust the margin as needed */
}

</style>
<div class="main-wrapper">

<!-- Header -->
<%- include ("../partials/newHeader") %>
<!-- /Header -->

<!-- Sidebar -->
<%- include ("../partials/_sideBar") %>
<!-- /Sidebar -->
<!-- Page Wrapper -->
<div class="page-wrapper">
<div class="content container-fluid">
<div class="page-header">
<div class="row align-items-center">

<div class="col">
<h3 class="page-title"><%= hotel.name %></h3>
<ul class="breadcrumb">
<li class="breadcrumb-item"><a href="/admin/hotels"> <i data-feather="corner-up-left"></i> All Hotels </a>
</li>
<li class="breadcrumb-item active"><%= hotel.name %></li>


</li>
</ul>
</div>


<!--/\boxing-->
<div class="col">
  <div class="box-container">
    <div class="box">
      <i class="text-success fas fa-hotel"></i>
      <span>Total <%= totalRooms %></span>
    </div>
    <div class="box">
      <i class=" text-success fas fa-check"></i>
      <span>Available <%= totalRoomsAvailable %></span>
    </div>
    <div class="box">
      <i class="text-danger fas fa-bed"></i>
      <span>Occupied <%= totalRoomsOccupied %></span>
    </div>
    <div class="box">
      <i class="text-danger fas fa-lock"></i>
      <span>Lock <%= totalRoomsUnderLock %></span>
    </div>
  </div>
</div>
<!--/\ boxing-->



<div class="col-auto">
  
<a href="/admin/<%= hotel._id %>/roomType/new" class="btn btn-primary mr-1">
<i class="fas fa-plus"></i>
</a>
<a class="btn btn-primary filter-btn" href="javascript:void(0);" id="filter_search">
<i class="fas fa-filter"></i>
</a>
</div>


</div>
</div>


<!-- Search Filter -->
				<% if (successMsg) { %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <strong>Success!</strong> <%= successMsg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>

<% if (errorMsg) { %>
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Error!</strong> <%= errorMsg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>
<!-- /Search Filter -->

<div class="row">
  <div class="col-sm-12">
    <div class="card card-table"> 
      <div class="card-body">									
        <div class="table-responsive">

<table class="table table-stripped table-hover datatable">
  <thead class="thead-light">
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price/Rate</th>
      <th>Total Rooms</th>
      <th>Available Rooms</th>
      <th>Occupied Rooms</th>
      <th class="text-right">Action</th>
    </tr>
  </thead>
  <tbody>
    <% roomTypes.forEach(function(roomType, index) { %>
      <tr>
        <td><%= index + 1 %></td>
        <td>
          <a href="/admin/roomtypes/<%= hotelId %>/rooms/<%= roomType.id %>"> 
            <%= roomType.name %>
          </a>
        </td>
        <td>₦ <%= roomType.price %></td>
        <td><%= roomType.count %></td>
        <td><span class="badge bg-success-light"><%= roomType.available %></span></td>
        <td><span class="badge bg-danger-light"><%= roomType.unavailable %> </span></td>
        <td class="text-right">
          <div class="dropdown dropdown-action">
            <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-ellipsis-h"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <a class="dropdown-item" href="/admin/del/hotels/:id/<%= hotel._id %>/edit">
                <i class="far fa-edit mr-2"></i>Edit
              </a>
              <a class="dropdown-item" href="/admin/roomtypes/<%=roomType.id %>/<%= hotel._id%>">
                <i class="far fa-trash-alt mr-2"></i>Delete
              </a>
              <a class="dropdown-item" href="/admin/hotels/<%= hotel._id %>/rooms">
                <i class="far fa-eye mr-2"></i>View
              </a>
            </div>
          </div>
        </td>
      </tr>
    <% }); %>
  </tbody>
</table>




        </div>							   
      </div>
    </div>
  </div>
</div>

</div>
</div>
<!-- /Page Wrapper -->
</div>


<%- include ("../partials/_dashFooter") %>