<%- include ../partials/_head %>
 <style>
  .contact-field select{
height: calc(2.9em + 0.75rem + 2px);
     border: 1px solid #777;

  }
  button, input, optgroup, select, textarea{
     padding-left: 1rem;
  }
 </style>
    <!--/head-->
    <body>
        <!-- header -->
      <%- include ../partials/_header %>
        <!-- header-end -->


<section id="contact" class="contact-area after-none contact-bg pt-120 pb-120 p-relative fix">
  <div class="container">             
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-8 order-1 offset-lg-2">
        <div class="contact-bg02">
          <div class="section-title center-align mb-40 text-center wow fadeInDown animated" data-animation="fadeInDown" data-delay=".4s">
            <h2>Register</h2>
  <!-- Flash message -->
     <% if(errorMsg !=null && errorMsg.length>0) {%>

  <div id="flash-msg" class="alert alert-warning alert-dismissible text-white fade show" role="alert" style="background-color: #be9874;">
    <%=errorMsg %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
<%}%>
</div>     
  <form action="/user/signup" method="POST" class="contact-form mt-30">
<div class="row justify-content-center align-items-center">
<div class="col-lg-8">
  <div class="row">
    <div class="col-lg-4">
      <div class="contact-field p-relative c-name mb-20" >
        <select id="title" name="title" required>
          <option value="" disabled selected >Select Title</option>
          <option value="Pastor">Pastor</option>
          <option value="Bishop">Bishop</option>
          <option value="Mr">Mr</option>
          <option value="Chief">Chief </option>
          <option value="Dr">Dr</option>
        </select>
      </div>
    </div>
    <div class="col-lg-8">
      <div class="contact-field p-relative c-name mb-20">      
        <input type="text" id="name" name="name" placeholder="Name" required>
      </div>                               
    </div>
  </div>
</div>
              <div class="col-lg-8">
                <div class="contact-field p-relative c-name mb-20">                                    
                  <input type="email" id="email" name="email" placeholder="Email Address" required>
                </div>                               
              </div>
              <div class="col-lg-8">
                <div class="contact-field p-relative c-name mb-20">                                    
                  <input type="text" id="phone" name="phone" placeholder="Phone number" required>
                </div>                               
              </div>                                   
              <div class="col-lg-8">                                        
                <div class="contact-field p-relative c-message mb-30">                                  
                  <input type="password" id="passsword" name="password" placeholder="Password" required>
                </div>
                <div class="contact-field p-relative c-message mb-30">                                  
                  <input type="password" id="password2" name="password2" placeholder="Confirm Password" required>
                </div>
                 <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button class="btn ss-btn" data-animation="fadeInRight" data-delay=".8s" type="submit">
                  <i class="fas fa-user-plus"></i> Register
                </button>                         
              </div>
            </div>
          </form>
        
          <div class="text-center mt-3">
            <span>Existing user? </span><a href="/user/login" style="color: rgb(239, 7, 7);"><strong>Login here</strong></a>
          </div>
        </div>    
      </div>
    </div>
  
  </div> 
</section>



       <%- include ../partials/_footer %>