
<%- include ("../partials/_head") %>



<style>


input[value],
select:not(:default):not(:placeholder-shown),
textarea:not(:placeholder-shown) {
  background-color: rgb(255, 255, 255);
}

input:disabled,
select:disabled,
textarea:disabled {
  background-color: #f4f4fe;
}

  .contact-field select, input, textarea {
    height: calc(2.9em + 0.75rem + 2px);
    border: 2px solid #777;
    padding-right: 10px;
    background-color: #f9f9f7;
}

.feat {
    margin-right: 10px;
    color: #be9874;
}
.breadcrumb-area {
background-size: cover;
position: relative;
min-height: 300px;
background-color: rgb(0, 0, 0);
background-repeat: no-repeat;
}

::placeholder{
  font-size:16px;
}
 .room-features li {
    display: flex;
    align-items: center;
    min-width: 12%;
    border: 2px solid #eee;
    padding: 5px 5px;
    font-weight: 400;
    font-size: 14px;
    color: #101010;
    font-family: 'Jost', sans-serif;
}
  
  .room-features li i {
    margin-right: 10px;
    color: #be9874;
  }

.pt-120 {
padding-top: 53px;
}

body{margin-top:20px;
    background:#eee;
}
h3 {
    font-size: 16px;
}
.text-navy {
    color: #1ab394;
}
.cart-product-imitation {
  text-align: center;

  height: 80px;
  width: 80px;
  background-color: #f8f8f9;
}
.product-imitation.xl {
  padding: 120px 0;
}
.product-desc {
  
  position: relative;
}
.ecommerce .tag-list {
  padding: 0;
}
.ecommerce .fa-star {
  color: #d1dade;
}
.ecommerce .fa-star.active {
  color: #f8ac59;
}
.ecommerce .note-editor {
  border: 1px solid #e7eaec;
}
table.shoping-cart-table {
  margin-bottom: 0;
}
table.shoping-cart-table tr td {
  border: none;
  text-align: right;
}
table.shoping-cart-table tr td.desc,
table.shoping-cart-table tr td:first-child {
  text-align: left;
}
table.shoping-cart-table tr td:last-child {
  width: 80px;
}
.cart {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.cart.collapsed .cart-content {
  display: none;
}
.cart:after,
.cart:before {
  display: table;
}
.cart-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-color: #4a2204;
  border-style: solid solid none;
  border-width: 3px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}
.cart-content {
  background-color: #ffffff;
  color: inherit;
  padding: 10px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: none;
  border-width: 1px 0;
}
p.desc {
    margin-bottom: 2px;
}

  .contact-field select, input, textarea{
height: calc(2.9em + 0.75rem + 2px);
     border: 2px solid #777;
     padding-right:10px;
    

  }
  button, input, optgroup, select, textarea{
     padding-left: 1rem;
     
  }
</style>

<!--/head-->
<body>
<!-- header -->
<%- include ("../partials/_header") %>
<!-- header-end -->

<!-- main-area -->

<main>

<!-- breadcrumb-area -->
<section class="breadcrumb-area d-flex align-items-center" style="background-image:url(/images/img/bg/bdrc-bg.jpg)">
<div class="container">
<div class="row align-items-center">
<div class="col-xl-12 col-lg-12">
<div class="breadcrumb-wrap text-center">
<div class="breadcrumb-title">
<h2>Bookings</h2>    
<div class="breadcrumb-wrap">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/">Home</a></li>
<li class="breadcrumb-item active" aria-current="page">About</li>
</ol>
</nav>
</div>
</div>
</div>
</div>
</div>
</div>
</section>
<!-- breadcrumb-area-end -->	

<!-- newslater-area -->
<section class="newslater-area p-relative pt-120 pb-120" style="background-color: #f7f5f1;">
<div class="animations-01"><img src="/images/img/bg/an-img-07.png" alt="contact-bg-an-05"></div>
<div class="container">
<div class="row justify-content-center align-items-center text-center">
<div class="col-xl-12 col-lg-12">
<div class="section-title center-align mb-40 text-center wow fadeInDown animated" data-animation="fadeInDown" data-delay=".4s">
<h4> Get Best Offers On The Hotel </h4>
<p>With the subscription, enjoy your favourite Hotels without having to think about it</p>





<div class="row">

<!-- Reservation Details Container -->

  <div class="col-xl-7 col-md-7 col-lg-7">

<div class="cart">
<!--header for cart-->
<div class="cart-title">
<a href="/bookings/clear"> <button class="pull-right" 
style="background-color: #4a2204; color: white; font-size: 14px; border-radius: 15%; margin-left:12px; margin-top: -4px; border: 1px solid #4a2204;">Clear all</button></a>
<span class="pull-right " >(<strong><%= cartItemsCount %></strong>) items</span>
<h5 class="pull-left">Items in your cart</h5>
</div>
    <!--/header for cart-->
<div class="cart-content">
<div class="table-responsive">
                        <table class="table shoping-cart-table">
                            <thead>
                                <th width="90">Rooms</th>
                                <th>Details</th>
                                <th>Days</th>
                                <th>Price</th>
                                <th>Total</th>
                            </thead>
                            <tbody>
                                <% if (cart.items.length > 0) { %>
                                <% cart.items.forEach((item) => { %>
                            
                                  <tr>
                                <td width="90">
                                    <div class="cart-product-imitation">
                                      <i class="fal fa-hotel fa-4x feat"></i>
                                      
                                    </div>
                                </td>
                                <td class="desc">
                                    <h4>
                                    <span class="text-navy">
                                    <%= item.name %>
                                    </span>
                                  </h4>    
                                  <!-- <a href="#" class="text-muted"><i class="fa fa-house text-info"></i></a> -->
                                <ul class="room-features d-flex align-items-center">
                                    <li><i class="fal fa-hotel"></i><b> <%= item.hotel %> </b> </li>
                                    <li><i class="fal fa-user"></i> Rooms : <b> <%= item.noRooms %></b> </li>
                                </ul>                            
                                <ul class="room-features d-flex align-items-center">
                                    <li><i class="fal fa-clock"></i><%= item.checkIn.toDateString().slice(0, -5) %>  </li>
                                    <li><i class="fal fa-clock"></i><%= item.checkOut.toDateString().slice(0, -5) %> </li>
                                </ul>                                
                                     <div class="m-t-sm">
                                        <a href="/bookings/remove/<%= item._id%>?_csrf=<%= csrfToken %>" class="text-muted"><i class="fa fa-trash text-danger"></i> Remove item</a>
                                    </div>
                                </td>
                                <td> <%= item.days %>  </td>
                                <td> <%= item.price %> </td>                             
                                <td> <%= item.priceTotal %> </td>
                                  </tr>
                            <% }); %>
                                    <% } else { %>
                                    <tr>
                                        <td colspan="6" class="text-center">Your cart is empty</td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                  
                       
<div class="cart-content">
<a href="/"><button class="btn btn-white pull-left"><i class="fa fa-arrow-left"></i> Continue shopping</button></a>
<span id="amountTotal" class="a.btn btn ss-btn active mr-15 pull-right" data-animation="fadeInLeft" data-delay=".4s" tabindex="-1" style="animation-delay: 0.4s; border: 2px solid #644222; color: #101010;">
NGN  <%= cart.totalCost %> </span>
</div>     
</div> 

</div>  
</div>
</div>    
  
<div class="col-xl-5 col-md-5 offset-md-2 col-lg-5 offset-lg-0">
  <%  if(cartItemsCount > 0 )  { %>
<div class="cart">
<!--header for cart-->
<div class="cart-title">
<span class="pull-right">(<strong>contact</strong>) info</span>
<h5 class="pull-left">Guest Details</h5>
</div>

<!--/header for cart-->

<div class="cart-content">
<form id="paymentForm" class="contact-form mt-30">
<div class="row">

<div class="col-lg-3">
<div class="contact-field p-relative c-name mb-20" >
<select id="title" name="title" required>
  <option value="" disabled selected>Title</option>
  <option value="Pastor" <%= guest && guest.title === "Pastor" ? 'selected' : '' %>>Pastor</option>
  <option value="Bishop" <%= guest && guest.title === "Bishop" ? 'selected' : '' %>>Bishop</option>
  <option value="Mr" <%= guest && guest.title === "Mr" ? 'selected' : '' %>>Mr</option>
  <option value="Chief" <%= guest && guest.title === "Chief" ? 'selected' : '' %>>Chief</option>
  <option value="Dr" <%= guest && guest.title === "Dr" ? 'selected' : '' %>>Dr</option>
</select>



</div>
</div>

<div class="col-lg-5">
  <div class="contact-field p-relative c-name mb-20">
    <input type="text" id="firstname" name="firstname" value="<%= guest && guest.first_name ? guest.first_name : '' %>" placeholder="First Name" <%= guest && guest.first_name ? 'disabled' : 'required' %>>
  </div>
</div>


<div class="col-lg-4">
  <div class="contact-field p-relative c-name mb-20">
    <input type="text" id="lastname" name="lastname" value="<%= guest && guest.last_name ? guest.last_name : '' %>" placeholder="Last Name" <%= guest && guest.last_name ? 'disabled' : 'required' %>>
  </div>
</div>


</div>

<div class="row">

<div class="col-lg-6 col-md-6">
  <div class="contact-field p-relative c-subject mb-20">
    <input type="text" id="email" value="<%= guest && guest.email ? guest.email : '' %>" name="email" placeholder="Contact Email" <%= guest && guest.email ? 'disabled' : 'required' %>>
  </div>
</div>
	

<div class="col-lg-6 col-md-6">
  <div class="contact-field p-relative c-name mb-20">
    <input type="text" id="phoneNumber" name="phoneNumber" value="<%= guest && guest.phone_number ? guest.phone_number : '' %>" placeholder="Phone Number" <%= guest && guest.phone_number ? 'disabled' : 'required' %>>
  </div>
</div>


<div class="col-lg-12">
  <div class="contact-field p-relative c-name mb-20">
    <textarea id="residential" name="residential" placeholder="Residential Address" required rows="1" <%= guest && guest.residential ? 'disabled' : 'required' %>><%= guest && guest.residential ? guest.residential : '' %></textarea>
  </div>
</div>


<div class="col-lg-6 col-md-6">
  <div class="contact-field p-relative c-name mb-20">
    <input type="text" id="city" value="<%= guest && guest.city ? guest.city : '' %>" name="city" placeholder="City" <%= guest && guest.city ? 'disabled' : 'required' %>>
  </div>
</div>


<div class="col-lg-6 col-md-6">
  <div class="contact-field p-relative c-message mb-30">
    <select id="state" name="states">
      <option value="" <%= !guest || !guest.state ? 'selected' : '' %>>Select a state</option>
      <option value="NA" <%= guest && guest.state === "NA" ? 'selected' : '' %>>Others</option>
      <option value="Abia" <%= guest && guest.state === "Abia" ? 'selected' : '' %>>Abia</option>
      <option value="Adamawa" <%= guest && guest.state === "Adamawa" ? 'selected' : '' %>>Adamawa</option>
      <option value="Akwa Ibom" <%= guest && guest.state === "Akwa Ibom" ? 'selected' : '' %>>Akwa Ibom</option>
      <option value="Anambra" <%= guest && guest.state === "Anambra" ? 'selected' : '' %>>Anambra</option>
      <option value="Bauchi" <%= guest && guest.state === "Bauchi" ? 'selected' : '' %>>Bauchi</option>
      <option value="Bayelsa" <%= guest && guest.state === "Bayelsa" ? 'selected' : '' %>>Bayelsa</option>
      <option value="Benue" <%= guest && guest.state === "Benue" ? 'selected' : '' %>>Benue</option>
      <option value="Borno" <%= guest && guest.state === "Borno" ? 'selected' : '' %>>Borno</option>
      <option value="Cross River" <%= guest && guest.state === "Cross River" ? 'selected' : '' %>>Cross River</option>
      <option value="Delta" <%= guest && guest.state === "Delta" ? 'selected' : '' %>>Delta</option>
      <option value="Ebonyi" <%= guest && guest.state === "Ebonyi" ? 'selected' : '' %>>Ebonyi</option>
      <option value="Edo" <%= guest && guest.state === "Edo" ? 'selected' : '' %>>Edo</option>
      <option value="Ekiti" <%= guest && guest.state === "Ekiti" ? 'selected' : '' %>>Ekiti</option>
      <option value="Enugu" <%= guest && guest.state === "Enugu" ? 'selected' : '' %>>Enugu</option>
      <option value="FCT" <%= guest && guest.state === "FCT" ? 'selected' : '' %>>Federal Capital Territory</option>
      <option value="Gombe" <%= guest && guest.state === "Gombe" ? 'selected' : '' %>>Gombe</option>
      <option value="Imo" <%= guest && guest.state === "Imo" ? 'selected' : '' %>>Imo</option>
      <option value="Jigawa" <%= guest && guest.state === "Jigawa" ? 'selected' : '' %>>Jigawa</option>
      <option value="Kaduna" <%= guest && guest.state === "Kaduna" ? 'selected' : '' %>>Kaduna</option>
      <option value="Kano" <%= guest && guest.state === "Kano" ? 'selected' : '' %>>Kano</option>
      <option value="Katsina" <%= guest && guest.state === "Katsina" ? 'selected' : '' %>>Katsina</option>
      <option value="Kebbi" <%= guest && guest.state === "Kebbi" ? 'selected' : '' %>>Kebbi</option>
      <option value="Kogi" <%= guest && guest.state === "Kogi" ? 'selected' : '' %>>Kogi</option>
      <option value="Kwara" <%= guest && guest.state === "Kwara" ? 'selected' : '' %>>Kwara</option>
      <option value="Lagos" <%= guest && guest.state === "Lagos" ? 'selected' : '' %>>Lagos</option>
      <option value="Nasarawa" <%= guest && guest.state === "Nasarawa" ? 'selected' : '' %>>Nasarawa</option>
      <option value="Niger" <%= guest && guest.state === "Niger" ? 'selected' : '' %>>Niger</option>
      <option value="Ogun" <%= guest && guest.state === "Ogun" ? 'selected' : '' %>>Ogun</option>
      <option value="Ondo" <%= guest && guest.state === "Ondo" ? 'selected' : '' %>>Ondo</option>
      <option value="Osun" <%= guest && guest.state === "Osun" ? 'selected' : '' %>>Osun</option>
      <option value="Oyo" <%= guest && guest.state === "Oyo" ? 'selected' : '' %>>Oyo</option>
      <option value="Plateau" <%= guest && guest.state === "Plateau" ? 'selected' : '' %>>Plateau</option>
      <option value="Rivers" <%= guest && guest.state === "Rivers" ? 'selected' : '' %>>Rivers</option>
      <option value="Sokoto" <%= guest && guest.state === "Sokoto" ? 'selected' : '' %>>Sokoto</option>
      <option value="Taraba" <%= guest && guest.state === "Taraba" ? 'selected' : '' %>>Taraba</option>
      <option value="Yobe" <%= guest && guest.state === "Yobe" ? 'selected' : '' %>>Yobe</option>
      <option value="Zamfara" <%= guest && guest.state === "Zamfara" ? 'selected' : '' %>>Zamfara</option>
    </select>
  </div>
</div>




<div class="col-lg-6 col-md-6 ">
<div class="contact-field p-relative c-message mb-30">
<select id="country" name="states">
  <option value="" >Select a Country</option>
  <option value="NA">Others</option>
  <option value="Nigeria" selected>Nigeria</option>
  <option value="United Kingdom">United Kingdom</option>
  <option value="United States of America">United States of America</option>
  <option value="United Arab Emirates">United Arab Emirates</option>
  <option value="Canada">Canada</option>
  <option value="Ghana">Ghana</option>
  <option value="Cameroon">Cameroon</option>
  <option value="South Africa">South Africa</option>
  <option value="Australia">Australia</option>
  <option value="Togo">Togo</option> 
</select>

</div>
</div>


<div class="col-lg-6 col-md-6">
<button type="submit" onclick="payWithPaystack" class="btn btn-primary"><i class="fa fa fa-shopping-cart"></i> Checkout</button>
</div>

</div>                    
</form> 

</div>
</div>
<% } else { %>

  <p> No Items in th Cart</p>
  <% } %>
</div>

</div>
</div>




<!--payment form-->
</section>
<!-- newslater-aread-end -->

</main>

<script src="https://js.paystack.co/v1/inline.js"></script> 

<script>

const paymentForm = document.getElementById('paymentForm');
paymentForm.addEventListener("submit", payWithPaystack, false);
function payWithPaystack(e) {
  e.preventDefault();
  
  let handler = PaystackPop.setup({
    key: '<%= pay %>',  // Paystack payment API
    currency: 'NGN',
    email: '<%= currentUser.email %>' ,
    amount: '<%= cart.totalCost %>' * 100,
    ref: ''+Math.floor((Math.random() * 1000000000) + 3 
    ), 
    metadata: {
      title: document.getElementById('title').value,
      first_name: document.getElementById('firstname').value ,
      last_name:  document.getElementById('lastname').value,
      email: '<%= currentUser.email %>',    
    // Add more metadata fields if required
  },
   //channels: ['card'], // Only display the card payment channel


    onClose: function(){
       window.location.href = '/'; 
     // alert('Window closed.');
    },
    

    callback: function(response){
      let message = 'Payment complete! Reference: ' + response.reference;
      let reservationDetails = {
      cartId: '<%= cart._id %>',
      title: document.getElementById('title').value,
      first_name: document.getElementById('firstname').value ,
      last_name:  document.getElementById('lastname').value,
      email: '<%= currentUser.email %>',
      phoneNumber: ('<%= currentUser.phone %>' || document.getElementById('phoneNumber').value),
      residential: document.getElementById('residential').value,
      city: document.getElementById('city').value,
      state: document.getElementById('state').value,
      country: document.getElementById('country').value,
      paymentRef: response.reference,
      _csrf: '<%= csrfToken %>'
        };
     
      saveReservation(reservationDetails);
    // Show reservation details
      }
    });


    handler.openIframe();
}

  // Function to save the reservation details to the server
 async function saveReservation(data) {
  try {
    const response = await fetch(`/bookings/proceed/<%= cart._id %>`, {
      method: 'POST',
      body: JSON.stringify(data),
      headers: {
        'Content-Type': 'application/json',
        'X-CSRF-Token': '<%= csrfToken %>'
      }
    });
    
    const jsonResponse = await response.json();
    // Access the JSON response and perform necessary actions
    console.log('Reservation saved successfully:', jsonResponse);
    // Check if a redirect URL is present in the JSON response
    if (jsonResponse.redirectUrl) {
      // Redirect to the specified URL
      window.location.href = jsonResponse.redirectUrl;
    }
    // Perform action or handle response here
 
  } catch (error) {
    console.error('Error:', error);
  }
}


</script>

<%- include ("../partials/_footer") %>